#root {
  display:flex;
  flex-direction:column;
  align-items: center;
  box-sizing: border-box;
}

.content-wrapper{
  display:flex;
  flex-direction:column; 
  align-items:center; 
  max-width:900px; 
  position:relative; 
  width:90vw;
  box-sizing: border-box;
  transition:200ms;
  padding-bottom:70px;
}

.content-wrapper .page-title{
    color:#FE88A6; 
    font-size:40px;
}

.icon-wrapper{
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-wrapper .icon{
  width:50px
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-header{
  width:100%;
  padding:15px 30px;
  box-sizing: border-box;
  display:flex; 
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  position:absolute;
  top:0px;
  left:0px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
.main-header .title{
  font-size:24px;
  font-weight:bold;
  color:#fe88a6;
  margin:0px;
}

.main-header button{
  padding:10px 0px;

}

.main-header a:focus, .main-header button:focus{
  outline:none;
}

/* For Chrome, Safari, and Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield; /* Remove the spinner in Firefox */
}

.fancy-container{
  border:4px solid #C6C6C6;
  border-radius:8px;
  transition:200ms;
  background-color:#F5F5F5; 
  padding:12px 20px;
  font-weight: bold;
  color:#7F7F7F;
  font-size:20px; 
  transition: padding 200ms;
}

.fancy-container:focus, .fancy-container.selected, .fancy-container:hover{
  border-color:#fe88a6;
  background-color: #F5D5DD;
  outline:none;
  color:#FF5C86;
}

.regular-button {
  width: 150px;
  background: #FE88A6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:200ms;
}
.regular-button:focus{
  outline:none;
}

.regular-button:hover {
  outline: none;
  width:155px;
}

.regular-button:disabled{
  cursor: not-allowed;
  width:150px;
}

@media (max-width: 768px) {

  .content-wrapper .page-title{
    margin-top:0px;
    font-size:30px;
  }

  .icon-wrapper {
    padding-top: 50px;
  }

  .main-header{
    padding:15px 20px;
  }

  .main-header .title{
    font-size:20px;
  }

  .fancy-container{
    padding:6px 10px;
    font-size:15px; 
  }

}
