.quiz-grid{
    display: grid; 
    grid-template-columns: repeat(1, 1fr); 
    gap: 20px; 
    /* margin-top: 30px;  */
    width:100%;
}

.quiz-card-wrapper{ 
    cursor: pointer;
    font-weight: bold;
    border: 4px solid #D7D6D6;
    border-radius: 8px;
    text-align: left;
    box-shadow: 3px 4px 2px 0px rgba(114, 114, 114, 0.2);
    transition: 200ms;
    padding:10px 40px;
    height:auto;
    display: grid; 
    grid-template-columns: 1fr auto;
    align-items: center;
    box-sizing: border-box;
    overflow:hidden;
}

.history-category{
    margin-left:8px;
    font-size:20px;  
}

@media screen and (max-width: 768px) {
    .quiz-card-wrapper {
        padding: 10px 20px;
    }

    .quiz-card-wrapper .history-category {
        font-size: 16px;
    }
    
}